.main-container{

  height: 600px;
  background: #F2F1EF;
 
}
#tet_outer{
	padding:0px;

}

.tet_row_cont{

	display: table-row;
}

.tet_row{
	height: 10px;
	margin-top: 1px;
	display: block;
	
}

.tet_cell{
	width: 10px;
	height: 10px;
	margin-left: 1px;
	float: left;
}

.board{
	background-color: #ecf0f1;
}

.piece{
	background-color: #27ae60;
}